<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Courseware</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul ngbNav routerLinkActive="active">
      <li ngbNavItem="syllabus">
        <a ngbNavLink class="btn-dark" routerLink="catalog" href="#">courses</a>
      </li>
      <li ngbNavItem="assignments">
        <a ngbNavLink class="btn-dark" routerLink="assignments" href="#">assignments</a>
      </li>""
      <li ngbNavItem="quizzes">
        <a ngbNavLink class="btn-dark" routerLink="quizzes" href="#">quizzes</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>