<div *ngIf="!editing">
    <!--  because input decorator allows for profiles to be sent to this component we're able to access them -->
    <p>Name: {{profile.name}}</p>
    <p>Age: {{profile.age}}</p>
    <p>Contact Info:</p>
    <table class="table table-stripped">
        <tr>
            <td>Phone:</td>
            <td>{{profile.phone}}</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>{{profile.address}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><a href="mailto:{{profile.email">{{profile.email}}</a></td>
        </tr>
    </table>
</div>

<div *ngIf=" editing">
                    <!-- because this component specifically has an output we can access the event emitted -->
                    <app-profile-editor [profile]="profile" (finishedEditing)="edit()"></app-profile-editor>
</div>

<p>Poked: {{profile.poked}}</p>

<div>
    <button type=" button" class=" btn btn-primary" (click)="poke()">Poke</button>
    <button type=" button" class=" btn btn-secondary" (click)="edit()" *ngIf="!editing">Edit</button>
</div>