<div>
    <!--  because input decorator allows for profiles to be sent to this component we're able to access them -->
    <p>Name: {{profile.name}}</p>
    <p>Age: {{profile.age}}</p>
    <p>Contact Info:</p>
    <table class="table table-stripped">
        <thead class="thead-light">
            <tr>
                <th>Type: </th>
                <th>Phone: </th>
                <th>Address: </th>
                <th>Email: </th>
            </tr>
        </thead>
        <tr *ngFor="let info of profile.contactinfo">
            <td><b>{{info.type}}</b></td>
            <td>{{info.phone}}</td>
            <td>{{info.address}}</td>
            <td><a href="mailto:{{info.email">{{info.email}}</a></td>
        </tr>
    </table>
    <p>Poked: {{profile.poked}}</p>

    <div>
        <button type=" button" class=" btn btn-primary" (click)="poke(profile)">Poke</button>
</div>

</div>