<div *ngIf="!selectedCourse">
    No Course selected!
</div>

<div *ngIf="selectedCourse" class="container">
    <h1>{{(selectedCourse | async)?.section}} {{(selectedCourse | async)?.title}}</h1>

    <div class="container">
        <h4><span>Description:</span> {{(selectedCourse | async)?.description}}</h4>
    </div>
    <div class="container">
        <p><span>Book Info:</span> {{(selectedCourse | async)?.bookInfo}}</p>
    </div>
    <div class="container">
        <p><span>Meeting Time:</span> {{(selectedCourse | async)?.meetingTime}}</p>
    </div>
    <div class="table container">
        <p><span>Calendar:</span></p>
        <table>
            <tr *ngFor="let day of (selectedCourse | async)?.calendar">
                <td>{{day}}</td>
            </tr>
        </table>
    </div>
    <div class="table container">
        <p><span>Grading Scale:</span></p>
        <table>
            <tr *ngFor="let scale of (selectedCourse | async)?.gradingScale">
                <td>{{scale}}</td>
            </tr>
        </table>
    </div>
</div>