<div>
    <h2>Profiles</h2>

    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedProfile">
        <label ngbButtonLabel class="btn-primary" *ngFor="let profile of profiles" [class.admin]="profile.isAdmin">
            <input ngbButton type="radio" [value]="profile"> {{profile.name}}
        </label>
    </div>
    <hr>
    <pre>{{model}}</pre>

    <div *ngIf="selectedProfile">
        <!--  render the profile component -->
        <app-profile-display [profile]="selectedProfile"></app-profile-display>
    </div>
    <div *ngIf="!selectedProfile">
        <p>no profile selected</p>
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="clearSelection()">clear</button>

</div>