<div>
    <h2>Profiles</h2>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedProfile">
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1"> Left (pre-checked)
        </label>
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="middle"> Middle
        </label>
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="false"> Right
        </label>
    </div>
    <hr>
    <pre>{{model}}</pre>

    <div *ngIf="selectedProfile">
        <!--  render the profile component -->
        <app-profile [profile]="selectedProfile"></app-profile>
    </div>
    <div *ngIf="!selectedProfile">
        <p>no profile selected</p>
    </div>
</div>