<div>
    <form [formGroup]="person" (ngSubmit)="save()">
        <div>
            <label for="name">Name</label>: <input id="name" type="text" class="form-control" formControlName="name" />
            <div [hidden]="person.controls.name.valid || person.controls.name.pristine" class="alert-danger">
                a valid name is required
            </div>
        </div>
        <div>
            <label for="name">Age</label>: <input id="age" type="text" class="form-control" formControlName="age" />
            <div [hidden]="person.controls.age.valid || person.controls.age.pristine" class="alert-danger">
                a valid age is required
            </div>
        </div>
        <p>Contact Info:</p>
        <table class="table table-stripped">
            <tr>
                <td><label for="phone">Phone</label>:</td>
                <td><input type="text" class="form-control" id="phone" formControlName="phone" />
                    <div [hidden]="person.controls.phone.valid || person.controls.phone.pristine" class="alert-danger">
                        a valid phone number is required
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="address">Address</label>:
                </td>
                <td><input type="text" class="form-control" id="address" formControlName="address" />
                    <div [hidden]="person.controls.address.valid || person.controls.address.pristine"
                        class="alert-danger">
                        a valid address is required
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="email">Email</label>:</td>
                <td><input type="text" class="form-control" id="email" formControlName="email" />
                    <div [hidden]="person.controls.email.valid || person.controls.email.pristine" class="alert-danger">
                        a valid email address is required
                    </div>
                </td>
            </tr>

        </table>

        <button type=" button" class="btn btn-outline-primary" [disabled]="!person.valid" (click)="save()">Save</button>
        <button type=" button" class="btn btn-outline-primary" (click)="reset()">Reset</button>
        <button type=" button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
    </form>
</div>